@charset "utf-8";
/* CSS Document */
.scorll{
			position: relative;
			width: 100%;
			height: 300px;
			background-color: #EBEBEB;
			overflow: hidden;
			z-index: 5;
		}
		 ul{
			list-style: none;
			  z-index: 5;
		}
		ol{
			list-style: none;
		}
/*
		.scorll ul li{
			position: absolute;
			left: 0;
			top: 0;
			 width: 100%;
			 height: 100%;
			display: none;
			
		}
*/
		img{
/*			display: none;*/
			width: 100%;
			height: 100%;

		}
		.button{
			position: absolute;
			z-index: 5;
			top: 50%;
			width: 40px;
			height: 40px;
			transitionY:-50%; 
			opacity: 0;
			font-size: 16px;
			user-select: none;
			border-radius: 20px;
			line-height: 40px;
			text-align: center;
			overflow: hidden;
			background-color: #f2f2f2;
			font-family: iconfont;
			cursor: pointer;
			transition: opacity 0.2s linear;
		}

.left{
	left: 450px;
}
.right{
	right: 200px;
}
		.scorll ol{
			position: absolute;
			z-index: 20;
			width: 180px;
			height: 20px;
			bottom: 30px;
			left: 50%;
			margin-left: -100px;
		}
		.scorll ol .dot{
			float: left;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background-color: #F5F5F5;
			margin-left: 20px;
			text-align: center;
			font-family: "Arial";
		}
		.scorll ul li.target{
			position: absolute;
			left:350px;
			top: 0;
			 width: 900px;
			 height: 300px;
			-moz-transition:transform 0.5s linear;
            -webkit-transition:transform 0.5s linear;
            -o-transition:transform 0.5s linear;
		}
.catalog{
	position:fixed;
	padding: 50px 40px;
	z-index: 10;
	top:100px;
	left: 50px;
	width: 160px;
	height: 800px;
	background-color: #FFFFFF;
}
.bar{
	display: block;
	font-size: 14px;
	text-decoration: none;
	width: 160px;
	height: 32px;
	margin-bottom: 25px;
	line-height: 32px;
	transition: color 0.2s linear;
	color:#4a4a4a;
	cursor: pointer;
	
}
.bar:hover{
	color: #F78403;
}
.show{
	border-bottom: 3px solid #000000;
	font-weight: bolder;
}
.bari{
	display: block;
	width: 160px;
	height: 160px;
	background-image: url('/image/love.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: -47px 0px;
}
.content .content-nav-box .content-nav-li img{
	width: 100%;
	height: 100%;
}
.content{
	width: 900px;
	height: 200%;
	margin-left: 350px;
}
.content-nav-box{
	left: 50px;
	width: 800px;
	display: flex;
}
.content-nav-li{
	width: 150px;
	height: 200px;
	margin: auto;
}
.content-box{
	display: block;
	width: 900px;
	height:600px;
	margin-bottom: 20px;
}
.content-box-nav{
	display: block;
	width: 900px;
	height: 80px;
	
}
.content-box-nav h2{
	float: left;
	user-select: none;
	width: 200px;
	height: 80px;
	font-size: 25px;
	line-height: 80px;
	font-weight: 500;
	font-family: iconfont;
	display: inline-block;
}
.count{
	width:200px;
	height: 80px;
	float: right
}
.count-all{
	margin-top: 20px;
	float: left;
	width: 100px;
	height: 40px;
	text-decoration: none;
	cursor: pointer;
	line-height: 40px;
	color: #727171;
}
.button1{
	margin-top: 20px;
		width: 40px;
		height: 40px;
		font-size: 16px;
		user-select: none;
		border-radius: 20px;
		line-height: 40px;
		text-align: center;
		overflow: hidden;
		background-color: #f2f2f2;
		font-family: iconfont;
		cursor: pointer;
		transition: opacity 0.2s linear;
		transition: background-color 0.2s linear;
		}
.button1:hover{
	background-color:#FF6E00;
}
.content-detail{
	display: flex;
	height: 250px;
	width: 900px;
	margin-bottom: 20px;
}
.content-detail .video-first{
	cursor: pointer;
	width: 348px;
	height: 250px;
	border-radius: 5px;
	overflow: hidden;
}
.video-first-frame{
	position: relative;
	width: 348px;
	height: 250px;
}
.video-first-structure{
	position: absolute;
	width: 348px;
	height: 250px;
	z-index: 10;
	
}
.video-first-cover{
	position: absolute;
	z-index: 5;
	top:50%;
	width: 50px;
	height: 50px;
	left: 50%;
	cursor: pointer;
	margin-left: -25px;
	margin-top: -25px;
	border-radius: 50%;
	background-color: aliceblue;
	background-image: url('/image/button.png');
	background-size: contain;
}
.video-first-label{
	position: absolute;
	width: 348px;
	height: 60px;
	line-height: 30px;
	z-index: 5;
	bottom: 0;
}
.video-first-label h5{
	font-size: 20px;
	color:#BBBBBB;
	text-indent:25px;
	word-break:break-all;
	cursor: pointer;
	font-weight: 400;
}
.video-first-label h5:hover{
	color: #F3A600;
}
.content-detail .video-common{
	cursor: pointer;
	width: 164px;
	height: 250px;
	border-radius: 5px;
	overflow: hidden;
	margin: auto;
}
.video-common-frame{
	position: relative;
	width: 164px;
	height: 250px;
}
.video-common-structure{
	position: absolute;
	width: 164px;
	height: 164px;
	z-index: 10;
	
}
.video-common-cover{
	position: absolute;
	z-index: 5;
	top:62px;
	width: 40px;
	height: 40px;
	left: 50%;
	cursor: pointer;
	margin-left: -20px;
	border-radius: 50%;
	background-color: aliceblue;
	background-image: url('/image/button.png');
	background-size: contain;
}
.video-common-label{
	position: absolute;
	width:164px;
	height: 81px;
	z-index: 10;
	bottom: 0;
}
.video-common-label p{
	font-size: 16px;
	line-height: 27px;
	color:#BBBBBB;
/*	text-indent:25px;*/
	cursor: pointer;
	font-weight: 400;
}
.video-common-label p:hover{
	color: #F3A600;
}