<div class="nav-a">
    <div class="log"><img alt="log" src="../image/logo2.png"></div>
    <ul>
        <li>
            <a class="nav-b" href="index.html" style="left:120px">主站
                <div class="shader"></div>
            </a>
        </li>
        <li>
            <a class="nav-b" href="index.html" style="left:240px">动态
                <div class="shader"></div>
            </a>
        </li>
        <li><a class="nav-b" href="index.html" style="left:360px">推荐
            <div class="shader"></div>
        </a>
        </li>
        <li><a class="nav-b" href="index.html" style="left:480px">会员中心
            <div class="shader"></div>
        </a>
        </li>
    </ul>
    <div id="box">
        <input type="text" name="search" placeholder="请输入关键字">
        <div id="search">搜索</div>
    </div>
    <div class="ChatHead">
        <a href="/person/${ fullUser.getUserName() }" style="right:100px"><img id="Chathead" alt="../image/h3.jpg"
                                                      src="/file/ ${ fullUser.getUserImg() }"></a>
    </div>
    <li><a class="nav-b" href="/message/list" style="right:0px">私信
        <div class="shader"></div>
    </a>
    </li>
    <li>
        <a class="nav-b" href="/message/list" style="right:0px">写信
            <div class="shader"></div>
        </a>
    </li>


</div>